body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    padding: 0;
}


.shipping-info {
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #E3E3E3;
    color: #9A9A9A;
    font-weight: bold;
    padding: 0.5% 0%;
}
.navbar-brand {
    font-family: 'Pridi', serif;
    font-weight: 400;
    font-size: 1rem;
    color: black;
}

.nav-item {
    font-size: 0.5rem;
    color: black;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    margin: 0 1%;
}

.nav-item {
    color: black;
}

.header-section {
    width: 100%;
}

.navbar-collapse {
    justify-content: center;
}

.header-button {
    border: 1px solid transparent;
    background: transparent;
}

.search-icon {
    width: 12px;
}

.cart-icon {
    width: 10px;
}

.header-icons {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.navbar-toggler{
    color: black;
}

.col-sm {
    padding: 0;
}

.card-img-top {
    border-radius: 0;
}

.row {
    margin: 0%;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.card {
    padding: 0;
    border: 0;
}

.card-title {
    font-family: 'Oxygen', sans-serif;
}

.card-text {
    font-size: 0.5rem;
}

.carousel-card {
    padding: 5%;
}

.about-card {
    padding: 7% 5% 5%;
}

#footer {
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
    padding: 5%;
}

.footer-title {
    font-size: 1rem;
}
.footer-message {
    font-size: 0.6rem;
    letter-spacing: 5px;
    font-weight: bold;
    margin: 0;
}

.footer-icon {
    width: 15px;
    margin: 0 7.5px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.testimonial-title {
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
}

.testimonial-card {
    border: 1px transparent;
    margin: 0 3%;
    border-radius: 20px;
    cursor: pointer;
}

.testimonials-container {
    padding: 0 5% 5% 5%;
    display: flex;
    flex-direction: row;
}

.testmon-1:hover {
    content: url("images/testmon-1.png");
    cursor: pointer;
    width: 17%;
}

.testmon-2:hover {
    content: url("images/testmon-2.png");
    cursor: pointer;
    width: 17%;
}
.testmon-3:hover {
    content: url("images/testmon-3.png");
    cursor: pointer;
    width: 17%;
}
.testmon-4:hover {
    content: url("images/testmon-4.png");
    cursor: pointer;
    width: 17%;
}